.main-content {
    overflow: hidden;
    min-height: 89.4vh;
    display: flex;
    flex-direction: column;
}

.about-us {
    background-color: #7276a841;
    margin: 1.5rem 1.5rem 8rem 1.5rem;
    border-radius: 40px;
    padding: 2rem;
    white-space: pre-wrap;
    z-index: 50;
    position: relative;
}

h2,
p {
    color: white;
    font-weight: 250;
    line-height: 1.5;
}

p {
    text-align: left;
}

.img-bg {
    opacity: 0.20;
    z-index: 40;
}

.bg-1 {
    transform: rotate(-20deg);
    position: absolute;
    bottom: 5rem;
}

.bg-2 {
    position: absolute;
    top: 10px;
    left: -7rem;

}

@media (min-width: 31.25em) {
    .about-us {
        margin-top: 10rem;
    }
}

@media (min-width: 50em) {
    .about-us {
        margin-left: 5rem;
        margin-right: 5rem;
        padding: 3.5rem;
    }
}

@media (min-width: 64em) {
    .about-us {
        margin-left: 16rem;
        margin-right: 16rem;
    }
}

@media(min-width: 87.5em) {
    .about-us {
        margin-left: 24rem;
        margin-right: 24rem;
    }
  }