.main-body {
  min-height: 89.4vh;
  display: flex;
  flex-direction: column;
}

.favourites-movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 7rem;
}

.favourites-movie-card {
  margin: 0.75rem;
  border-radius: 1rem;
  position: relative;

  img {
    border-radius: 1rem;
  }
}

.hover-active {
  display: none;
}

.hover-inactive {
  display: none;
}

.hide-message {
  display: none;
}

.show-message {
  margin: 12rem 1rem 0rem 1rem;
  display: block;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.smaller-add-to-favourites {
  padding: 0 1rem;
}

@media (min-width: 50rem) {
  .favourites-movie-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .show-message {
    margin: 12rem 4rem 0rem 4rem;
  }
}

@media (min-width: 64em ) {
  .hover-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 700;
    background-color: #1f2034ba;
    height: 100%;
    border-radius: 1rem;
    display: block;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      margin: 3rem 0 0.5rem 0;
    }

    .release-date {
      color: white;
      font-size: 1.3rem;
      font-weight: 275;
      /* padding: 0; */
      margin: 0 0 1rem 0;
    }

    .description {
      color: white;
      font-weight: 250;
      padding: 1rem;
      margin: 0;
    }
  }
}

@media(min-width: 87.5em) {
  .favourites-movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}