.footer-logo {
  display: none;
}

.nav-icon {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.home-icon {
  width: 4rem;
}

.footer-menu {
  /* background-color: #1f2135; */
  background-color: #1f2135;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.mobile-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}



@media(min-width: 50em) {

  .mobile-nav {
    display: none;
  }

  .footer-logo {
    display: block;
    max-width: 15rem;
    margin: 0 auto;
    align-items: center;
    /* position: relative; */
  }

  footer {
    background-color: #0F1019;
    padding: 1rem;
    /* position: absolute; */
    width: 100%;
    bottom: -6rem;
    /* z-index: 9999; */

  }




}