/* General Colors */

:root {
  --background-color: #1f2135;
  --footer: #0f1019;
  --primary-orange: #ffb300;
  --primary-pink: #fc4d7a;
  --primary-purple: #7276a8;
  --button-pink: #8d3757;
  --search-grey: #b0b0b7;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f2135;
}