header {
  position: sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navBar {
  background: rgb(31, 32, 52);
  background: linear-gradient(0deg, rgba(31, 32, 52, 0) 0%, rgba(31, 32, 52, 0.6446953781512605) 100%);
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.navBar.active {
  background: rgb(31, 32, 52);
  background: linear-gradient(0deg, rgba(31, 32, 52, 0.93) 0%, rgba(31, 32, 52, 0.9304096638655462) 100%);
}

.logo {
  max-width: 15rem;
  margin-left: 1rem;
  align-items: center;
}

.main-nav {
  list-style-type: none;
  display: flex;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
}


.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 1rem;
  transition: all 0.2s;
  position: relative;
}

/* .nav-link:visited {
  color: white;
} */

.nav-link:hover,
.nav-link:focus {
  color: #ffb100;
}

.nav-link::after {
  content: '';
  height: .1875rem;
  width: 100%;
  background: #fc4d7a;
  position: absolute;
  left: 0;
  bottom: -0.10rem;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}