.backdrop-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.gradient-overlay {
  height: 100%;
  width: 100%;
  background: rgb(31, 32, 52);
  background: linear-gradient(180deg, rgba(31, 32, 52, 0) 0%, rgba(31, 32, 52, 0) 33%, rgba(31, 32, 52, 0.12088585434173671) 42%, rgba(31, 32, 52, 1) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.movie-backdrop {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.movie-details-card {
  background-color: var(--background-color);
}

.movie-details-content {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-color);
  max-width: 70rem;
  margin: 0 auto;
  color: white;
  margin-bottom: 10rem;


  h1 {
    width: 100%;
    text-align: left;
    padding: 1rem;
    margin: 0;
  }

  p {
    padding: 1rem;
    margin: 0;
  }

  .favourites-and-play {
    width: fit-content;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1rem;
  }
}

.favourites-button {
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  padding-left: 0;
}

.play-button {
  background-color: transparent;
  border: none;
  padding-right: 1rem;
}

.movie-details-card .rating {
  text-align: center;
  padding: 0.95rem 0.6rem;
  border-radius: 50%;
  background-color: #1f2135db;
  border: 0.2rem solid #7276a8;
}

.rating {
  
  height: 40px;
  width: 40px;
  font-size: 0.8rem;
  padding-top: 0.5rem !important;
  padding-left: 0.4rem !important;
}

@media(min-width:32em) {
  .movie-details-card .rating {
    position: relative;
    top: 0;
    left: 0;
    display: inline;
  }

}

@media (min-width: 50em) {

  .movie-details-card {
    position: relative;

    .movie-backdrop {
      /* height: 60rem; */
      height: 100vh;
    }

    .gradient-overlay {
      /* height: 60rem; */
      /* height: 100vh; */
      height: 100%;
      width: 100%;
      background: rgb(31, 32, 52);
      background: linear-gradient(-90deg, rgba(31, 32, 52, 0) 0%, rgba(31, 32, 52, 0) 42%, rgba(31, 32, 52, 0.4374124649859944) 55%, rgba(31, 32, 52, 1) 100%);

    }

    .movie-details-content {
      position: absolute;
      bottom: 3rem;
      width: 50%;
      flex-direction: column-reverse;
      background-color: transparent;
      padding: 2rem;
      margin-bottom: 0;
    }
  }
}