.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .hover-active {
    background-color: beige;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    h3 {
      color: black;
    }

    a {
      color: black;
    }
  }

  .hover-inactive {
    /* display: none; */
    background-color: black;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}
